<%= javascript_pack_tag "search.js" %>
<% if user_signed_in? %>
  <%= render "shared/article_header" %>
<% else %>
  <%= render "shared/logout_article_header" %>
<% end %>
<div class="article-wrapper">
  <div class="article-search-bar">
    <div class="article-search-body">
      <h4 class="article-search-title">ジャンル/フリーワード検索</h4>
      <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
        <div class="article-search-box">
          <div class="article-search-field">
            <%= f.label :study_genre_id, "ジャンル", class:"search-article" %>
            <%= f.collection_select(:study_genre_id, StudyGenre.all, :id, :name, {}, {class:"article-search-input"}) %>
          </div>
          <div class="article-search-field">
            <%= f.label :keyword, "フリーワード検索", class:"search-article" %>
            <%= f.text_field :keyword, placeholder: "記事を検索する", class: "article-search-input" %>
          </div>
          <div class="article-search-btn-field">
            <%= f.submit "検索", class: "search-btn" %>
          </div>
        </div>
      <% end %>
      <h4 class="article-search-title">タグで検索</h4>
      <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
        <div class="article-search-field">
          <%= select_tag :tag_id,
            options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
            {
              prompt: 'タグで絞り込み',
              class: 'article-search-input',
              onchange: 'submit(this.form)'
            }%>
        </div>
      <% end %>
    </div>
  </div>
  <div id="search-box">
    <i class="fas fa-search"></i>
  </div>
  
  <div id="hidden">
    <div class="article-search-body">
      <h4 class="article-search-title">ジャンル/フリーワード検索</h4>
      <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
        <div class="article-search-box">
          <div class="article-search-field">
            <%= f.label :study_genre_id, "ジャンル", class:"search-article" %>
            <%= f.collection_select(:study_genre_id, StudyGenre.all, :id, :name, {}, {class:"article-search-input"}) %>
          </div>
          <div class="article-search-field">
            <%= f.label :keyword, "フリーワード検索", class:"search-article" %>
            <%= f.text_field :keyword, placeholder: "記事を検索する", class: "article-search-input" %>
          </div>
          <div class="article-search-btn-field">
            <%= f.submit "検索", class: "search-btn" %>
          </div>
        </div>
      <% end %>
      <h4 class="article-search-title">タグで検索</h4>
      <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
        <div class="article-search-field">
          <%= select_tag :tag_id,
            options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
            {
              prompt: 'タグで絞り込み',
              class: 'article-search-input',
              onchange: 'submit(this.form)'
            }%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="article-body">
    <div class="article-header">
      <h3 class="article-title">記事一覧</h3>
      <div class="article-header-right">
        <%= link_to '記事作成', new_article_path, class: 'article-new' %>
      </div>
    </div>
    
    
    <div class="article-lists">
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="article-list">
            <div class="list-upper">
              <h3 class="article-summary"><%= article.summary %></h3>
            </div>
            <p class="article-genre"><%= article.study_genre.name %></p>
            <div class="list-bottom">
                
                <div class="bottom-left-bottom">
                  <div class="list-like">
                    <p><%= "お気に入り:#{article.likes.count}" %></p>
                  </div>
                  <div class="list-tag">
                    <% if article.tags.present? %>
                      <% article.tags.each do |tag| %>
                        <p class="list-tag-name">#<%= tag.tag_name %></p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <div class="bottom-right">
                <div class="list-user">
                  <p class="list-user-nickname">投稿者:<%= article.user.nickname %></p>
                  <p class="list-article-date">最終更新日時: <%= l article.updated_at, format: :long %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>