
<%= render "shared/article_header"%>

<div class="article-new-form">
  <%= form_with model: @article, url: confirm_articles_path, class: 'registration-main', local: true do |f| %>
  <div class="form-wrap">
    <div class='form-header'>
      <h1 class='form-header-text'>
        記事の作成
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>
    <div class="form-group-wide">
      <div class='form-text-wrap'>
        <%= f.label :summary, '記事タイトル', class:"form-text" %>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :summary, placeholder: '最大40文字まで', class:"input-default", maxlength: "40" %>
    </div>
    <div class="form-group-wide">
      <div class='form-text-wrap'>
        <%= f.label :study_genre_id, "ジャンル", class: "form-text"%>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:study_genre_id, StudyGenre.all, :id, :name, {}, {class:"input-default"}) %>
    </div>
    <div class="form-group-wide">
      <div class="form-text-wrap">
        <%= f.label :tag_name, "タグ", class: "form-text" %>
      </div>
      <%= f.text_field :tag_name, class:"input-default" %>
      <div class="search-result-list">
        <p>候補</p>
        <div id="search-result">
        </div>
      </div>
    </div>
    <div class="form-group-wide">
      <div class="form-text-wrap">
        <%= f.label :detail, '本文', class:"form-text" %>
        <span class="indispensable">必須</span>
      </div>
      <div class="article-detail">
        <%= f.text_area :detail, placeholder: '本文を記入してください。マークダウン記法が可能です。', class: "input-article-detail" %>
      </div>
    </div>
    <div class="register-btn">
      <%= f.submit "記事投稿", class: 'register-link' %>
    </div>
  </div>
  <% end %>
</div>
<%= render "shared/footer"%>
