<p><%= link_to '記事作成', new_article_path %></p>
<%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
  <div class="search-box">
    <div class="search-field">
      <%= f.label :study_genre_id, "勉強していること", class:"search-text" %>
      <%= f.collection_select(:study_genre_id, StudyGenre.all, :id, :name, {}, {class:"user-search-input"}) %>
    </div>
    <div class="search-field">
      <%= f.label :keyword, "フリーワード検索", class:"search-text" %>
      <%= f.text_field :keyword, placeholder: "記事を検索する", class: "user-search-input" %>
    </div>
  </div>
  <%= f.submit "検索", class: "user-search-btn" %>
<% end %>
<%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
  <div class="search-field">
    <%= select_tag :tag_id,
      options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
      {
        prompt: 'タグで絞り込み',
        class: 'user-search-input',
        onchange: 'submit(this.form)'
      }%>
  </div>
<% end %>
<div class="article-lists">
<% @articles.each do |article| %>
  <%= link_to article_path(article) do %>
    <div class="article-list">
      <h3><%= article.summary %></h3>
      <% article.tags.each do |tag| %>
        #<%= tag.tag_name %>
      <% end %>
      <%= article.study_genre.name %>
      <%= article.user.nickname %>
    </div>
  <% end %>
<% end %>
</div>