<div class="article-show-wrapper">
  <div class="article-header">
    <div class="article-title">
      <h1><%= @article.summary %></h1>
    </div>
    <div class="article-user">
      <p>投稿者:<%= link_to @article.user.nickname, user_path(@article.user) %></p>
    </div>
  </div>
  <ul class="article-tags">
    <% @article.tags.each do |tag| %>
      <li class="article-tag">
        <p>#<%= tag.tag_name %></p>
      </li>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <% if @article.liked_by?(current_user) %>
      <p><span>お気に入り解除: </span><%= link_to @article.likes.count, article_likes_path(@article.id), method: :delete %></p>
    <% else %>
      <p><span>お気に入り登録: </span><%= link_to @article.likes.count, article_likes_path(@article.id), method: :post %></p>
    <% end %>
  <% else %>
    <p><span>お気に入り数: </span><%= @article.likes.count %></p>
  <% end %>

  <div class="article-genre">
    <p>ジャンル:<%= @article.study_genre.name %></p>
  </div>
  <div class="article-main">
    <p><%= @article.detail %></p>
  </div>
  <% if user_signed_in? && @article.user.id == current_user.id %>
    <%= link_to "編集", edit_article_path(@article) %>
  <% end %>
  <div><%= link_to "記事一覧に戻る", articles_path %>
</div>