<%= render "shared/header" %>

<div class="user-show">
  <div class="user-box">
    <h2 class="nickname">
      <%= @user.nickname %>
    </h2>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-user">勉強していること</th>
          <td class="detail-value"><%= @user.study_genre.name %></td>
        </tr>
        <tr>
          <th class="detail-user">自己紹介/勉強していることの詳細</th>
          <td class="detail-value">
            <%= @user.self_introduction %>
          </td>
        </tr>
        <tr>
          <th class="detail-user">学習報告ルーム</th>
          <td class="detail-value">
            <% @rooms.each do |room| %>
              <%= link_to room.title, room_path(room), class:'user-rooms' %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="user-messages">
      <% unless @user == current_user %>
        <% if @chat_id %>
          <%= link_to "チャットへ", chat_path(@chat_id)%>
        <% else %>
          <%= form_with(model: @chat, local: true) do |f| %>
            <%= fields_for @chat_user do |c| %>
              <%= c.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>