<div class="memo-main-wrapper">
  <div class="memo-main-header">
    <div class="memo-main-header-left">
      <h3 class="memo-main-header-title">メモ一覧</h3>
      <div class="memo-subject-name-wrapper">
        <h3 class="memo-subject-name"><%= @subject.name %></h3>
      </div>
    </div>
    <div class="memo-main-header-right">
      <%= link_to 'メモ新規作成', new_subject_memo_path(@subject), class: 'memo-new' %>
    </div>
  </div>
  <div class="memo-search">
    <%= form_with(url: search_subject_memos_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "メモを検索する", class: "search-input" %>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="memo-contents">
    <ul class="memo-lists">
      <% @memos.each do |memo| %>
        <%= link_to subject_memo_path(@subject, memo) do %>
          <li class="memo-list">
            <div class="memo-topic">
              <%= memo.topic %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>