<div class="memo-main-wrapper">
  <div class="memo-main-header">
    <h1 class="memo-main-header-title">メモ一覧</h1>
  </div>
  <div class="memo-search">
    <%= form_with(url: search_subject_memos_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "メモを検索する", class: "search-input" %>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="memo-contents">
    <ul class="memo-lists">
      <% @memos.each do |memo| %>
        <%= link_to subject_memo_path(@subject, memo) do %>
          <li class="memo-list">
            <div class="memo-topic">
              <%= memo.topic %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>