<%= render "shared/memo_header" %>
<div class='subject-wrapper'>
  <div class='subject-body'>
    <div class='subject-header'>
      <h3 class='subject-title'>カテゴリー一覧</h3>
      <div class='subject-header-right'>
        <%= link_to 'カテゴリー新規作成', new_subject_path, class: 'subject-new' %>
      </div>
      
    </div>
    

    <div class='subject-lists'>
      <%# ユーザーの報告ルームが存在する場合表示 %>
        <%# ルーム毎に表示 %>
      <% @subjects.each do |subject| %>
        <% if subject.user == current_user %>
          <div class='got-list'>
            <%= link_to subject_memos_path(subject) do %>
              <div class='subject-info'>
                <h3 class='subject-name'>
                  <%= subject.name %>
                </h3>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='new-message'>
      <div class='room-info'>
        <h3 class='room-message'>
          科目/カテゴリーを作成しましょう！
        </h3>
      </div>
    </div>
  </div>
</div>
  
<%= render "shared/footer" %>