<%= render "shared/header_subjects" %>
  <div>
    <%= link_to "メモ科目作成へ", new_subject_path %>
  </div>
  <div>
    <%= link_to "メモ科目作成へ", new_subject_path %>
  </div>
  <div>
    <%= link_to "メモ科目作成へ", new_subject_path %>
  </div>
  <div>
    <%= link_to "メモ科目作成へ", new_subject_path %>
  </div>
  <div>
    <%= link_to "カテゴリー作成へ", new_subject_path %>
  </div>
  
<%= render "shared/footer" %>