<%= render "shared/memo_header"%>

<div class="registration-body">
  <%= form_with model: @subject, url: subjects_path(@subject), class: 'registration-main', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        科目/カテゴリーの作成
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>
    
    <div class="form-group">
      <div class='form-text-wrap'>
        <%= f.label :name, "カテゴリ/科目名", class:"form-text" %>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"input-default", placeholder:"例) rails", maxlength:"40" %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <%= f.label :purpose_subject, "目的/主旨", class:"form-text" %>
        <span class="indispensable">任意 ※140字まで</span>
      </div>
      <%= f.text_area :purpose_subject, class:"input-introduction", placeholder:"メモルームの目的/主旨（学習科目、目標等）例) Ruby on Rails学習の中で得た気付きをメモしていくルーム", maxlength:"140" %>
    </div>

    <div class="form-group">
      <h2 class='form-bottom-text'>
        「科目作成」ボタンを押すと、学習報告ルームが生成されます。
      </h2>
      <div class='register-btn'>
        <%= f.submit "科目作成" ,class:"register-link" %>
      </div>
    </div>
    
  </div>
  <% end %>
</div>
<%= render "shared/footer"%>
