<%= render "shared/report_header" %>
<div class='room-wrapper'>
  <div class="room-body">
    <div class="room-header">
      <h3 class="room-title">あなたの学習報告ルーム</h3>
      <div class="room-header-right">
        <%= link_to "ルーム新規作成", new_room_path, class: 'room-new' %>
      </div>
    </div>
    <div class='room-lists'>
      <%# ユーザーの報告ルームが存在する場合表示 %>
        <%# ルーム毎に表示 %>
      <% @rooms.each do |room| %>
        <% if room.users.include?(current_user) %>
          <div class="got-list">
            <%= link_to room_path(room) do %>
              <div class='room-img-content'>
                <% if room.image.attached? %>
                  <%= image_tag room.image, class: "room-img" %>
                <% else %>
                  <%= image_tag 'report_human.jpg', class:"room-img" %>
                <% end %>
              </div>
              <div class='room-info'>
                <h3 class='room-name'>
                  <%= room.title %>
                </h3>
              </div>
            <% end %>
            <%= link_to '報告へ', room_reports_path(room), class: 'report-link' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='new-message'>
      <div class='room-info'>
        <h3 class='room-message'>
          仲間と学習報告を行いましょう!
        </h3>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>