<%= render "shared/report_header" %>

<div class="room-show">
  <div class="room-box">
    <h2 class="name">
      <%= @room.title %>
    </h2>
    <div class='room-img-content'>
      <% if @room.image.attached? %>
        <%= image_tag @room.image, class: "room-box-img" %>
      <% else %>
        <%= image_tag 'rooms-index-03.jpeg', class:"room-box-img" %>
      <% end %>
    </div>

    <% if user_signed_in? && @room.users.include?(current_user) %>
      <div class="to-report">
        <%= link_to "学習報告ルームへ", room_reports_path(@room), class:"room-link" %>
      </div>
    <% end %>

  
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-room">ルームの目的</th>
          <td class="detail-value"><%= @room.purpose_room %></td>
        </tr>
        <tr>
          <th class="detail-room">参加者</th>
          <td class="detail-value">
            <% @room.users.each do |user| %>
              <%= link_to user.nickname, "#", class:"user-name" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-room">最終投稿日時</th>
          <td class="detail-value">
            <% if @room.reports.present? %>
              <% @room.reports.last(1).each do |report| %>
                <%= l report.created_at, format: :short %>
              <% end %>
            <% else %>
              報告がありません
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? && @room.users.include?(current_user) %>
      <div class="room-edit-btn">
        <%= link_to 'ルーム情報の編集', edit_room_path(@room) , method: :get, class: "room-link-edit" %>
        <p class='or-text'>or</p>
        <%= link_to 'ルームの削除', room_path(@room), method: :delete, class:'room-link-des' %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>