<%= render "shared/memo_header" %>
<div class="memo-show-main">
  <div class="memo-text">
    <h2 class="memo-text-contents">題目</h2>
  </div>
  <div class="memo-show-title">
    <%= @memo.topic %>
  </div>
  <div class="memo-text">
    <h2 class="memo-text-contents">該当箇所の画像</h2>
  </div>
  <div class="memo-show-image">
    <%= link_to image_tag(@memo.image.variant(resize: '200x200')),@memo.image, :rel => "lightbox", class: "memo-img" if @memo.image.attached? %>
  </div>
  <div class="memo-text">
    <h2 class="memo-text-contents">関連する記述</h2>
  </div>
  <div class="memo-show-contents">
    <%= @memo.point %>
  </div>
  <div class="memo-text">
    <h2 class="memo-text-contents">メモ</h2>
  </div>
  <div class="memo-show-markdown">
    <%= sanitize markdown(@memo.explanation), tags: %w(h1 h2 h3 h4 h5 strong em a p), attributes: %w(href) %>
  </div>
  <div class="memo-show-btn">
    <%= link_to "編集", "#", class:"btn-edit-destroy" %>
    <%= link_to "削除", subject_memo_path(@subject, @memo), method: :delete, class:"btn-edit-destroy" %>
  </div>
</div>