<%= render "shared/memo_header" %>
<div class="memo-show-main">
  <div class="memo-text">
    <h2 class="form-text">題目</h2>
  </div>
  <div class="memo-show-title">
    <%= @memo.topic %>
  </div>
  <div class="memo-text">
    <h2 class="form-text">該当箇所の画像</h2>
  </div>
  <div class="memo-show-image">
    <%= link_to image_tag(@memo.image.variant(resize: '200x200')),@memo.image, :rel => "lightbox", class: "memo-img" if @memo.image.attached? %>
  </div>
  <div class="memo-text">
    <h2 class="form-text">関連する記述</h2>
  </div>
  <div class="memo-show-contents">
    <%= @memo.point %>
  </div>
  <div class="memo-text">
    <h2 class="form-text">メモ</h2>
  </div>
  <div class="memo-show-markdown" id="memo-show-markdown">
    <%= sanitize markdown(@memo.explanation), tags: %w(h1 h2 h3 h4 h5 strong em a p ul li code pre a), attributes: %w(href) %>
  </div>
  <div class="memo-show-btn">
    <%= link_to "編集", edit_subject_memo_path(@subject, @memo), class:"btn-edit-destroy" %>
    <%= link_to "削除", subject_memo_path(@subject, @memo), method: :delete, class:"btn-edit-destroy", data: { confirm: "本当に削除しますか？" } %>
  </div>
  <div class="memo-show-back">
    <%= link_to "メモ一覧に戻る", subject_memos_path(@subject), class:"memo-show-top" %>
  </div>
</div>

<%= render "shared/footer"%>
